body {
	width: 1000px;
	margin: 25px auto;
	background-color: #f5efe6;
}
p {
	padding-bottom: 1em;
	font-family: "Gentium Book Basic", serif;
	line-height: 1.25em;
	font-size: 18px;
}
a {
	text-decoration: none;
	background-color: #f5efe6;
	color: black;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 37px;
		padding-bottom: 20px;
}
h2 {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 25px;
		padding-bottom: 20px;
}
h4 {
	font-family: "Gentium Book Basic", serif;
	text-decoration: underline;
	font-size: 18px;
	padding-bottom: 5px;
}
h5 {
	font-family: "Gentium Book Basic", serif;
	font-style: italic;
	font-size: 15px;
	padding-bottom: 5px;
}
header {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
}
#pointer {
	font-family: "Gentium Book Basic", serif;
	vertical-align: bottom;
	font-size: 30px;
}
#sub {
	padding-top: 20px;
	width: 50%;
}
.ctb {
	padding-bottom: 10px;
}
.headshot {
	float: left;
	margin-right: 10px;
	width: 65px;
}
nav li {
	display: inline;
	padding-right: 10px;
}
nav a {
	text-decoration: none;
	font-family: "Gentium Book Basic", sans-serif;
	color: #000;
}
nav a:hover {
	text-decoration: underline;
}
#main{
	width: 900px;
	padding: 30px;
	border: 1px solid gray;
	background-color: #fff;
}

#whyme {
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 20px;
	padding-bottom: 30px;
}
/*Basecamp Logo feature*/

#bcfeature {
	float: right;
  width: 325px;
  height: 500px;
  padding-left: 50px;
  padding-bottom: 25px;
}
#intro{
  float: right;
  width: 170px;
}
#color {
	display: block;
	padding-top: 10px;
	height: 110px;
  text-align: right;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 700;
}
#intro button {
  margin: 10px 20px 0;
  height: 50px;
  width: 150px;
  font-weight: 600;
  color: white;
  background: #3c78b1;
  border-radius: 20px;
  border-bottom: 5px solid #1E3C58;
}
#intro button:focus {
  outline: none;
}
#bclogo {
  width: 300px;
}
#bclogo svg {
  height: 258px;
  width: 325px;
}
#bclogo path {
  transition: fill 0.5s;
  -webkit-transition: fill 0.5s;
  -moz-transition: fill 0.5s;
  -o-transition: fill 0.5s;
}
#headshot {
  float: left;
  height: 200px;
  width: 150px;
  text-align: center;
}
#headshot img{
  width: 140px;
  margin-bottom: 10px;
}
#pentry {
	text-align: center;
	margin-bottom: 15px;
}
#pentry img{
	margin: 10px;
	padding: 5px;
	border: 1px solid #aaa;
}